<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Teacher</h1>
    <form method="POST" action="/teacher/add">
      First name:<br>
      <input type="text" name="firstname">
      <br>
      Last name:<br>
      <input type="text" name="lastname">
      <br>
      Email:<br>
      <input type="text" name="email">
      <br>
      Subject Id:<br>
      <input type="text" name="subject">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>