<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>edit site</h1>
    <form method="POST" action="/edit/<%=id%>">
        First name:<br>
        <input type="text" name="firstname" placeholder="insert your firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname" placeholder="insert your lastname">
        <br>
        Email:<br>
        <input type="text" name="email" placeholder="insert your email">
        <br>
        Subject:<br>
        <input type="text" name="subject" placeholder="insert Subjectid">
        <br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>