<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/students/edit/<%=students.id%>" method="POST">
        First Name:
        <br>
        <input type="text" name="first_name" value=<%=students.first_name%>>
        <br>
        Last Name:
        <br>
        <input type="text" name="last_name" value=<%=students.last_name%>>
        <br>
        Email:
        <input type="text" name="email" value=<%=students.email%>>
        <br>
        <input type="submit" value="submit">
        
    </form>
</body>
</html>