<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            padding: 25px;
            width: 100%;
            color: #549DF7;
            text-align: center;
            background: white;
        }
    </style>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <br>
    <br>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacher">Teacher</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subject">Subject</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="jumbotron container">
        <h1 class="text-center">Hacktiv8 inc.</h1>
        <p class="text-center">Welcome to Hacktiv8 Bootcamp inc.</p>
    </div>
    <div class="footer">
        <footer> &copy; hacktiv8.sch </footer>
        <marquee behavior="scroll" direction="">
        </marquee>
    </div>
</body>

</html>