<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=message%></h1>
    <br><br>
    <a href="/teacher">Teacher</a>
    <br><br>
    <a href="/subject">Subject</a>
    <br><br>
  </body>
</html>