<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Subject Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/table-styles.css" />
</head>

<body>
    <h1>Subject Lists</h1>
    <p class="center"><a href="/subject/add">Add New Subject</a></p>
    
    <table>
        <col width="5%">
        <col width="20%">
        <col width="20%">
        <tr>
            <th>No.</th>
            <th>Subject</th>
            <th>Teachers</th>
        </tr>
        <% for( let i = 0; i < data.length; i++)  {%>
        <tr>
            <td class="center"><%= i+1 %></td>
            <td><%= data[i].subjectName %></td>
            <td>
                <% for (let j = 0; j < data[i].Teachers.length; j++)  { %>
                    <%= j+1 %>. <%= `${data[i].Teachers[j].firstName} ${data[i].Teachers[j].lastName}` %><br>
                <% }%>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>