<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            table {
                border-collapse: collapse;
            }
            
            table, td, th {
                border: 1px solid black;
            }
            </style>
</head>
<body>
        <h1>All Subjects Data</h1>
        <table style="width: 100%">
            <tr>
                <th>id</th>
                <th>Subject Name</th>
                <th>Teacher</th>
            </tr>
            <% for(let i = 0 ; i < data.length;i++){%>
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%= data[i].subjectName%></td>
                   
                </tr>
            <%}%>
        
        </table>
</body>
</html>