<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Subject</title>
  <style>
      * {
       font-family: courier; 
       color: rgb(13, 47, 48);
     }
     h1 {
       color:darkblue
       
     }
     table {
     border-collapse: collapse;
     width: 100%;
     }
 
     th, td {
         padding: 8px;
         text-align: left;
         border-bottom: 1px solid #ddd;
     }
 
     tr:hover {background-color:#a3c8db;}
   </style>
</head>
<body>
    <h1>Subjects Data</h1>
    <table style="width:100%">
        <tr>
          <th>id</th>
          <th>Subject Name</th>
          <th>Teacher</th> 
        </tr>
        <!-- harus looping diluar tr biar bisa kebawah  -->
        <!-- <%= data[0].Teachers%> -->
        <% for(let i = 0; i < data.length ; i++){ %> 
          <tr>
            <td><%= data[i].id %></td>
            <td><%= data[i].SubjectName %></td>
            <td><ol><% for(let j = 0 ; j < data[i].Teachers.length ; j++) { %>
             <li><%= data[i].Teachers[j].FirstName + " " + data[i].Teachers[j].LastName %> </li> 
            <% } %></ol></td>

          </tr>
         <% }%>
      </table>
  
</body>
</html>