<!DOCTYPE html>
<html lang="en">
<title>Teacher List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    input[type=submit] {
        background-color: red;
        border: 10;
        color: white;
        padding: 5px 32px;
        margin-top: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .fa-anchor,
    .fa-coffee {
        font-size: 200px
    }
</style>

<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);"
                title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
            <a href="/student" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Student</a>
            <a href="/teacher" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Teacher</a>
            <a href="/subject" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Subject</a>
        </div>

        <div class="w3-container">
            <h2>Register Teacher</h2>
            <form action="/teacher/add" method="POST">
                First name:
                <br>
                <input type="text" name="first_name" placeholder="First Name">
                <br> Last name:
                <br>
                <input type="text" name="last_name" placeholder="Last Name">
                <br> Email:
                <br>
                <input type="text" name="email" placeholder="Email">
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <% if (errors){%>
            <% JSON.parse(errors).errors.forEach(function(err){%>
                <h1>
                    <%=err.message%>
                </h1>
                <%})%>
                    <%}%>

                        <footer class="w3-container w3-padding-64 w3-center w3-opacity">
                            <div class="w3-xlarge w3-padding-32">
                                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                                <i class="fa fa-instagram w3-hover-opacity"></i>
                                <i class="fa fa-snapchat w3-hover-opacity"></i>
                                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                                <i class="fa fa-twitter w3-hover-opacity"></i>
                                <i class="fa fa-linkedin w3-hover-opacity"></i>
                            </div>
                        </footer>
</body>

</html>