<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method='post' action='/teacher/edit/<%= data %>'>
        firstName: <input type='text' name='firstName'><br>
        lastName: <input type='text' name='lastName'><br>
        email: <input type='text' name='email'><br>
        Subject: <select name="Subject">
            <option value="1">Kimia</option>
            <option value="2">Ekonomi</option>
        </select><br>
        <input type='submit'>
    </form>
</body>
</html>