<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 25px;
        width: 100%;
        color: #549DF7;
        text-align: center;
        background: white;
    }
    </style>
    <title>Add Subject</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <br>
    <br>
    <%- include('../partials/header')%>
    <br>
    <br>
    <div class="container">

        <h2>Add Subject</h2>

        <form action="/subject/add" method="POST">

            <div class="form-group">
                <label for="name">Subject Name: </label>
                <input type="text" name="subject_name" class="form-control" aria-describedby="emailHelp" placeholder="Enter subject name"
                    value="">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>


        </form>


    </div>
    <div style="height: 100px"></div>
    <br>
    <%- include('../partials/footer')%>
</body>

</html>