<%- include ../partial/header.ejs %>
</head>
<body>
    <h1><%= query %></h1>
   <form action="/teacher/create" method="POST">
        First name:<br>
        <input type="text" name="firstName">
        <br>
        <br>
        Last name:<br>
        <input type="text" name="lastName">
        <br>
        <br>
        Email: <br>
        <input type="text" name="email">
        <br>
        <br>
        SubjectId: <br>
        <input type="text" name="subjectId">
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form> 
    <%- include ../partial/footer.ejs %>